<svg width="19px" height="29px" viewBox="0 0 19 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Layout-Builder-2.0" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Testimonials-Desktop" transform="translate(-247.000000, -554.000000)" fill="var(--wsPartnerColor, black)">
      <g id="Group-5" transform="translate(247.800000, 304.000000)">
        <g id="Group-4" transform="translate(0.000000, 176.000000)">
          <path d="M17.5040399,87.7715895 L17.4400252,87.6682026 L10.2842955,76.0051044 L10.1590493,75.8009479 C9.51542579,74.791817 8.34861767,74.1818308 7.09747686,74.2004127 L1.19003368,74.2004127 C0.532454132,74.2018559 0.000193501016,74.7035696 0.000195296211,75.3219652 C-0.00346965649,75.5074561 0.0445044878,75.6906243 0.13935768,75.8532957 L7.34657753,87.5922982 C8.02817707,88.6849911 8.03931257,90.036369 7.37580163,91.1388642 L1.11349437,101.346692 C1.01864117,101.509364 0.970667029,101.692532 0.974331982,101.878023 C0.974331982,102.497439 1.50828687,102.999575 2.16695361,102.999575 L8.2260838,102.999575 C9.47729682,103.018428 10.6442391,102.408372 11.2876562,101.39904 L11.4129024,101.194884 L17.4386336,91.3796642 L17.5499635,91.1977555 C17.8553022,90.684444 18.0104067,90.1041577 17.999458,89.5160812 C18.0020801,88.9040296 17.8326076,88.3022028 17.5082148,87.7715895 L17.5040399,87.7715895 Z" id="Shape" transform="translate(9.000000, 88.600000) scale(-1, 1) translate(-9.000000, -88.600000) "></path>
        </g>
      </g>
    </g>
  </g>
</svg>
