<?xml version="1.0" encoding="UTF-8"?>
<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>4F2559CF-251A-42B0-8377-3AF76297B460</title>
  <g id="UI-KIt" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Testimonials" transform="translate(-249.000000, -971.000000)">
      <g id="Group-6" transform="translate(249.000000, 748.000000)">
        <g id="arrow_back_ios_black_24dp" transform="translate(0.000000, 223.000000)">
          <polygon id="Path" opacity="0.87" points="0 0 48 0 48 48 0 48"></polygon>
          <path d="M33.24,5.98 C32.26,5 30.68,5 29.7,5.98 L13.08,22.6 C12.3,23.38 12.3,24.64 13.08,25.42 L29.7,42.04 C30.68,43.02 32.26,43.02 33.24,42.04 C34.22,41.06 34.22,39.48 33.24,38.5 L18.76,24 L33.26,9.5 C34.22,8.54 34.22,6.94 33.24,5.98 Z" id="Path" fill="var(--wsPartnerColor, black)" fill-rule="nonzero"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
